body{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin:0;
    padding:20px;
    background-color: #f5f5f5;
}
button{
    background-color: rgb(246, 3, 3);
    padding: 10px;
    border-radius: 10px;
    border-color:rgb(246, 3, 3) ;
    box-shadow: none;
}